/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */

@mixin ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
  & br {
    display: none;
  }
}


/* Hide for both screenreaders and browsers: h5bp.com/m */

@mixin hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/n  & h5bp.com/o */

@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
  &.focusable {
    &:active, &:focus {
       clip: auto;
       height: auto;
       margin: 0;
       overflow: visible;
       position: static;
       width: auto;
    }
  }
}

/* Hide visually and from screenreaders, but maintain layout */
@mixin invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
@mixin clearfix {
  *zoom: 1;
  &:after, &:before {
     content: "";
     display: table;
  }
  &:after {
    clear: both;
  }
}