@charset "UTF-8";
@import url(../vendor/assets/components/normalize-css/normalize.css);
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 5, ../sass/base/_default.scss */
* {
  background-repeat: no-repeat;
  box-sizing: border-box; }

/* line 10, ../sass/base/_default.scss */
html {
  background-color: white;
  text-align: center; }
  /* line 13, ../sass/base/_default.scss */
  html body {
    color: #222222;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: auto;
    padding: 0;
    text-align: left; }
    /* line 21, ../sass/base/_default.scss */
    html body.preload * {
      transition: none !important; }
    /* line 24, ../sass/base/_default.scss */
    html body p {
      font-size: 14px;
      line-height: 20px; }
    /* line 28, ../sass/base/_default.scss */
    html body h1, html body h2, html body h3 {
      color: "";
      font-family: Avenir, Helvetica, Arial, sans-serif;
      font-weight: normal; }
    /* line 33, ../sass/base/_default.scss */
    html body h4, html body h5, html body h6 {
      color: "";
      font-family: Avenir, Helvetica, Arial, sans-serif;
      font-weight: normal; }
    /* line 38, ../sass/base/_default.scss */
    html body a, html body a:link {
      color: blue; }
    /* line 41, ../sass/base/_default.scss */
    html body a:hover {
      color: #6666ff; }
    /* line 44, ../sass/base/_default.scss */
    html body a:active {
      color: #9999ff; }
    /* line 47, ../sass/base/_default.scss */
    html body a:visited {
      color: #000099; }
    /* line 53, ../sass/base/_default.scss */
    html body ::-moz-selection {
      background-color: blue;
      color: white;
      text-shadow: none; }
    /* line 59, ../sass/base/_default.scss */
    html body ::selection {
      background-color: blue;
      color: white;
      text-shadow: none; }
    /* line 65, ../sass/base/_default.scss */
    html body hr {
      border: 0;
      border-bottom: 1px solid white;
      border-top: 1px solid white;
      margin: 20px 0; }
    /* line 73, ../sass/base/_default.scss */
    html body img {
      vertical-align: middle; }
    /* line 78, ../sass/base/_default.scss */
    html body fieldset {
      border: 0;
      margin: 0;
      padding: 0; }
    /* line 85, ../sass/base/_default.scss */
    html body textarea {
      resize: vertical; }

/* line 94, ../sass/base/_default.scss */
.chromeframe {
  background-color: #ccc;
  color: black;
  margin: 0.2em 0;
  padding: 0.2em 0; }

/* line 6, ../sass/areas/_page.scss */
html body header#page-header, html body div#main, html body footer#page-footer {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  html body header#page-header:after, html body div#main:after, html body footer#page-footer:after {
    content: "";
    display: table;
    clear: both; }

@media print {
  /* line 8, ../sass/dependencies/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 16, ../sass/dependencies/_print.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 20, ../sass/dependencies/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 24, ../sass/dependencies/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 34, ../sass/dependencies/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 39, ../sass/dependencies/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 44, ../sass/dependencies/_print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 49, ../sass/dependencies/_print.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 53, ../sass/dependencies/_print.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 63, ../sass/dependencies/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 69, ../sass/dependencies/_print.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
