// ------------------------------------------------------------------
//  Shortcuts
// ------------------------------------------------------------------

%list-in-disguise {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

} // %list-in-disguise
