// ------------------------------------------------------------------
//  Paths
// ------------------------------------------------------------------

$root-assets: "/" !default;
$font-path: $root-assets+"fonts" !default;
$image-path: $root-assets+"img" !default;
