// ------------------------------------------------------------------
//  Typography
// ------------------------------------------------------------------

$body-stack: Avenir, Helvetica, Arial, sans-serif !default;
$alt-stack:  Helvetica, Arial, sans-serif !default;
$legal-stack: Georgia, "Times New Roman", Times, serif !default;

$base-font-size: 14px !default;
$base-line-height: 20px !default;

//  Headings

$headings-font-family: $body-stack !default;
$headings-font-weight: normal !default; // instead of browser default, bold
$headings-font-color: '' !default; // empty to use BS default, $text-color

$subheadings-font-family: $body-stack !default;
$subheadings-font-weight: normal !default; // instead of browser default, bold
$subheadings-font-color: '' !default; // empty to use BS default, $text-color

//  Body

$base-font-family: $body-stack !default;
$alt-font-family: $alt-stack !default;

///  Special Case

$legal-font-family: $legal-stack !default;
